= form_tag category_components_path(@component.category_id, uid: @component), method: :create do
  %fieldset
    %legend New coponents
    %label_tag{ for: 'title'}
      title
    = text_field_tag :title, @component.title,  required: true
    = submit_tag 'Create'
