= link_to 'Front Guy', components_path

%ul
  - @categories.each do |category|
    %li= link_to category.title, category_components_path(category)
  %li= link_to '+ category', new_category_path

- if @category
  %h1.text
    = @category.title
    %small
      = link_to 'edit', edit_category_path(@category)
  = link_to '+ component', new_category_component_path(@category)

  - @components.each do |component|
    %h4
      = component.title
      %small= link_to 'edit', edit_category_component_path(@category, component)
    = link_to '+ example', new_component_example_path(component)
    %br
    - component.examples.each do |example|
      %h6
        = example.title
        %small= link_to 'edit', edit_component_example_path(component, example)
      %p
        = example.description

      %div
        %div
          - if example.language == 'haml'
            :ruby
              raw_preview = begin
                              Haml::Engine.new(example.body).render
                            rescue
                              'Something went wrong...'
                            end
            = raw(raw_preview)
          - else
            = raw(example.body)

        %pre
          %code{ 'data-lang' => example.language, class: example.language }
            = preserve do
              = example.body

    %hr
- else
  Create your first category
