= form_tag categories_path(uid: @category) do
  %fieldset
    %legend Add category
    %label{ for: 'title' }
      title
    = text_field_tag :title, @category.title, required: true
    = submit_tag 'Create'
