// show in right sidebar list of existing components
= form_tag component_examples_path(@example.component_id, uid: @example),
  class: '', style: '', method: :post do
  .language
    %label{ for: 'language' }
      Language
    = select_tag :language, options_for_select(%w(haml html), @example.language), required: true
  .title
    %label{ for: 'title' }
      Title
    = text_field_tag :title, @example.title
  .description
    %label{ for: 'description' }
      Description
    = text_area_tag :description, @example.description
  .body
    %label{ for: 'body' }
      Code
    = text_area_tag :body, @example.body, required: true
  .controls
    = submit_tag 'Save'
