!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Dummy
    = stylesheet_link_tag    'front_guy/application', media: 'all'
    = csrf_meta_tags
  %body
    = yield
